
*{
	font-family: 'Oswald', sans-serif;
	background: #e0eafc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e0eafc, #cfdef3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e0eafc, #cfdef3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



h1{
	text-align: center;
}


.topnav{
	background-color: #D1C9C9;
	text-align: center;
	padding: 14px 16px;
	
	font-size: 20px;
}

.topnav a{
	margin: 20px;
	text-decoration: none;
}
a:hover{
	color:hotpink;
}

img{
	display: block;
	margin: auto;

}
p{
text-align: center;	
}
.nobody{
	text-align: center;
	font-size: 30px;
}

td,th{
	border: 1px solid #dddddd;
	test-align:left;
	padding: 8px;
}


