/**{
	box-sizing: border-box;
}*/
body{
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d3cce3, #e9e4f0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d3cce3, #e9e4f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hiddenChatroom{
	display: none;
}

input[type="text"]
{
    font-size:15px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#register{
	margin:  auto;
	/*border: 3px solid white;*/
	display: flex;

}


#form{
	
	margin-left:  20% ;
	margin-top: 12%;
    width: 35%;
    height: 100%;
    border: 3px solid white;
    border-radius: 5%;
    padding: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    /*//float: left;*/
}

#cuteImg{
	margin-right: 5%;
	margin-top: 12%;
	/*border: 3px solid white;*/
	width: 35%;
    height: 100%;
    padding: 10px;

}


#login{
	margin: auto;
	color:white;
	text-align: center;
}



button{
	background-color: #cedbef;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
}

button:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}
#chatmsg{
	margin: auto;
    width: 60%;
    border: 3px solid white;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}

input{
	width: 100%;
	height:30px;
}

/*#oneMsgContainer {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin:2% 20% 0 1%;
}

#oneMsgContainer img {
    float: left;
    max-width: 50px;
    width: 100%;
    margin-right: 0px;
    border-radius: 50%;
}*/

#calmimg{
	width: 20%;
	position:relative;
	animation-name: example;
	animation-delay: 1s;
	animation-duration: 100s;
}

@keyframes example{
	0%   {left:0; top:0;}
    25%  { left:80%; top:-10%;}
    50%  { left:100%; top:100%;}
    75%  { left:0px; top:80%;}
    100% {left:0px; top:0px;}
}

#bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;

}

.me {
    float: left;   
    margin: 5px 45px 5px 20px;         
}

.you {
    float: right;    
    margin: 5px 20px 5px 45px;         
}

#bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}
#container{
    width: 100%;
    display: inline-block;
}

